<app-header></app-header>
<div class="container-fluid d-flex align-items-center height-full">
  <div class="container row main height-full width-full">
      <div class="row width-full">
          <h1>ParkME</h1>
      </div>
      <div class="row width-full">
        <p>Please login or register if you want to continue</p>
      </div>
      <div class="row width-fuldl">
            <div class="row form-group verical-space">
              <a href="#" routerLink="/login">Login</a>
            </div>
            <div class="row form-group verical-space">
              <a href="#" routerLink="/register">Register</a>
            </div>    
      </div>
  </div>
</div>
