<app-admin-header></app-admin-header>
<div class="container-fluid main"> 
    <div class="panel-section">
    <div class="row panel pLot-panel">
        <button (click)="editParkingLot()">
            <i class="fas fa-parking fa-6x"></i>
            <span>Edit ParkingLot</span>
        </button>
    </div>
    <div class="row panel user-panel">
        <button (click)="editUser()">
            <i class="fas fa-chart-line fa-6x"></i>
            <span>Charts</span>
        </button>
    </div>
    </div>    
</div>
